@model List<Mesa>

<table>
    <tr>
        <th>Id Mesa</th>
        <th>Capacidad</th>
        <th>Estado</th>
    </tr>
    @foreach(var mesa in Model)
    {
        <tr>
            <td>@Html.DisplayFor(m => mesa.MesaId)</td>
            <td>@Html.DisplayFor(m => mesa.Capacidad)</td>
            <td>@Html.DisplayFor(m => mesa.Ocupada)</td>
        </tr>
    }
    
</table>